main_menu/.metadata
main_menu/android/app/src/debug/AndroidManifest.xml
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
key.properties
main_menu/android/.gradle/5.6.2/gc.properties
main_menu/android/.gradle/5.6.2/executionHistory/executionHistory.bin
main_menu/android/.gradle/5.6.2/executionHistory/executionHistory.lock
main_menu/android/.gradle/5.6.2/fileChanges/last-build.bin
main_menu/android/.gradle/5.6.2/fileContent/fileContent.lock
main_menu/android/.gradle/5.6.2/fileHashes/fileHashes.bin
main_menu/android/.gradle/5.6.2/fileHashes/fileHashes.lock
main_menu/android/.gradle/5.6.2/fileHashes/resourceHashesCache.bin
main_menu/android/.gradle/5.6.2/javaCompile/classAnalysis.bin
main_menu/android/.gradle/5.6.2/javaCompile/jarAnalysis.bin
main_menu/android/.gradle/5.6.2/javaCompile/javaCompile.lock
main_menu/android/.gradle/5.6.2/javaCompile/taskHistory.bin
main_menu/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
main_menu/android/.gradle/buildOutputCleanup/cache.properties
main_menu/android/.gradle/buildOutputCleanup/outputFiles.bin
main_menu/android/.gradle/vcs-1/gc.properties
main_menu/android/gradlew.bat
main_menu/android/local.properties
main_menu/android/gradlew
.idea/workspace.xml
.idea/Unit-CurrencyConverter.iml
.idea/vcs.xml
.idea/modules.xml
